<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="indexInfo">
            <section name="searchPath" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="ExportPath" value="\\AS-204TE\\USB24\\FilmDb" />
    </appSettings>
    <indexInfo>
        <searchPath>
            <add key="USB2" value="\\AS-204TE\\USB2\\BT" />
            <add key="USB22" value="\\AS-204TE\\USB22" />
            <add key="USB23" value="\\AS-204TE\\USB23" />
        </searchPath>
    </indexInfo>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>